<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
  <test name="Regression Suite">
    <classes>
      <class name="testngPack.testngExample"/>
      <class name="testngPack.testngExample2"/>
      <class name="testngPack.CalorieCalculatorTestCase"/>
    </classes>
  </test>
</suite>
